<form>
  <label for="inputFile" class="input-label">Upload Excel file</label><br />
  <input
    type="file"
    id="inputFile"
    appUploadExcel
    (eventEmitter)="DataFromEventEmitter($event)"
    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  />
</form>
<hr />
<table *ngIf="excelData">
  <!--<span *ngFor="let item of excelData | keyvalue"></span>-->
  <tr>
    <th>SL No.</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Mobile</th>
    <th>pincode</th>
  </tr>

  <tr *ngFor="let row of excelData">
    <td>{{ row.sl_no ? row.sl_no : "N/A" }}</td>
    <td>{{ row.firstname ? row.firstname : "N/A" }}</td>
    <td>{{ row.lastname ? row.lastname : "N/A" }}</td>
    <td>{{ row.gender ? row.gender : "N/A" }}</td>
    <td>{{ row.country ? row.country : "N/A" }}</td>
    <td>{{row.mobile ? row.mobile : "INVALID" }}</td>
    <td>{{ row.pincode ? row.pincode : "N/A" }}</td>
  </tr>
  <p>Total Rows: {{excelData.length}}</p>
</table>
