table {
    font-family: arial, sans-serif;
    width: 100%;
  } 

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .input-label{
    font-size: medium;
    margin-bottom: 5px;
  } */

  .invalid{
    color: black;
    background-color: lightsalmon;
    padding:10px;
  }

  .valid{
    background-color: lightgreen;
    padding:10px;
   
  }

  tr.invalid-outline{
    border: 1px solid red;
    background-color: lightpink;
  }

  .table-data-error{
    color: brown;
  }

  td{
    text-align: center;
  }