<form>
  <label for="inputFile" class="input-label">Upload Excel file</label><br />
  <input
    type="file"
    id="inputFile"
    appUploadExcel
    (eventEmitter)="DataFromEventEmitter($event)"
    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  />
</form>
<hr />
<table *ngIf="excelData">
  <!--<span *ngFor="let item of excelData | keyvalue"></span>-->
  <tr>
    <th>SL No.</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Mobile</th>
    <th>pincode</th>
  </tr>

  <tr *ngFor="let row of validatedData">
    <td [ngClass]="[ row.sl_no ? 'invalid' : 'invalid']">{{ row.sl_no ? row.sl_no : "INVALID" }}</td>
    <td [class.invalid]="row.firstname ? false : true">{{ row.firstname ? row.firstname : "INVALID" }}</td>
    <td [class.invalid]="row.lastname ? false : true">{{ row.lastname ? row.lastname : "INVALID" }}</td>
    <td [class.invalid]="row.gender ? false : true">{{ row.gender ? row.gender : "INVALID" }}</td>
    <td [class.invalid]="row.country ? false : true">{{ row.country ? row.country : "INVALID" }}</td>
    <td [class.invalid]="row.mobile ? false : true">{{row.mobile ? row.mobile : "INVALID" }}</td>
    <td [class.invalid]="row.pincode ? false : true">{{ row.pincode ? row.pincode : "INVALID" }}</td>
  </tr>
  <p>Total Rows: {{excelData.length}}</p>
</table>
