<form>
  <label for="inputFile" class="input-label">Upload Excel file</label><br />
  <input
    type="file"
    id="inputFile"
    appUploadExcel
    (eventEmitter)="DataFromEventEmitter($event)"
    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  />
</form>
<hr>
<div>
  <p>Total Rows: {{validatedData.length}}</p><br>
  <p *ngIf="!isTableValid" class="invalid">Table contains some invalid data.</p>
</div>
<hr />
<table *ngIf="excelData">
  <!--<span *ngFor="let item of excelData | keyvalue"></span>
  [className]="row.pincode ==='INVALID' || row.pincode === undefined ? 'invalid' : ''"
  -->
  <tr>
    <th>SL No.</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Mobile</th>
    <th>pincode</th>
  </tr>

  <tr *ngFor="let row of validatedData">
    <td >{{ row.sl_no.error? row.sl_no.value:row.sl_no }}</td>
    <td >{{ row.firstname.error? row.firstname.value:row.firstname }}</td>
    <td >{{ row.lastname.error? row.lastname.value:row.lastname}}</td>
    <td >{{ row.gender.error? row.gender.value:row.gender}}</td>
    <td >{{ row.country === undefined ||row.country.error?  row.country===undefined? 'Empty cell': row.country.value   :row.country }}</td>
    <td >{{row.mobile.error?row.mobile.value:row.mobile}}</td>
    <td >{{ row.pincode.error?row.pincode.value:row.pincode}}</td>
  </tr>
 
</table>



